
@keyframes rip-off {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(50%) rotate(-10deg);
    opacity: 0.7;
  }
  100% {
    transform: translateX(100%) rotate(-15deg);
    opacity: 0;
  }
}

@media (max-width: 1880px) {
  body {
    background-color: black;
    padding: 1em;
    color: lightseagreen;
  }

  .yungDolph {
    /* border: .2px solid white; */
    display: flex;
    justify-content: space-evenly;
  }

  .splashMain {
    border: solid white;
    border-width: .2px;
    width: 60%;
  }

  .themeContainer {
    border: .2px solid salmon;
    height: auto;
    display: flex;
  }

  .serviceContainer {
    border: .2px solid grey;
    height: auto;
    width: 100%;
  }

  .trainingHub {
    border: .2px solid burlywood;
    height: auto;
    width: 100%;
  }

  .productContainer {
    border: .2px solid blue;
    height: auto;
    width: 100%;
    display:block;
  }

  .servtitle {
    text-align: center;
    color: white;
    display: block;
    font-size: 18px;
  }

  .serviceHolder {
    border: .2px solid white;
    margin: 1em;
    display: flex;
    justify-content: space-around;
    width: auto;
  }
  .n2roConf{
    border: .2px solid grey;
    display:flex;
  }
}

/* --------------------------------------[Desktop] */
@media (max-width: 980px) {
  body {
    background-color: black;
    padding: 1em;
    color: lightseagreen;
  }

  .yungDolph {
    /* border: .2px solid white; */
    display: flex;
    justify-content: space-evenly;
  }

  .splashMain {
    border: solid white;
    border-width: .2px;
    width: 50%;
  }

  .themeContainer {
    border: .2px solid salmon;
    height: auto;
    display: flex;
  }

  .serviceContainer {
    border: .2px solid grey;
    height: auto;
    width: 30%;
  }

  .trainingHub {
    border: .2px solid burlywood;
    height: auto;
    width: 100%;
  }

  .productContainer {
    border: .2px solid blue;
    height: 23vh;
    width: 100%;
    display:none;
  }

  .servtitle {
    text-align: center;
    color: white;
    display: black;
    font-size: 16px;
    
  }

  .serviceHolder {
    border: .2px solid white;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    width: auto;
  }
  .n2roConf{
    border: .2px solid grey;
    display:flex;
  }

}

/* --------------------------------------[Ipad] */
@media (max-width: 680px) {
  body {
    background-color: black;
    padding: 0;
    color: lightseagreen;
  }

  .yungDolph {
    /* border: .2px solid white; */
    display: block;
    justify-content: none;
  }

  .splashMain {
    border: solid white;
    border-width: .2px;
    width: 100%;
  }

  .themeContainer {
    border: .2px solid salmon;
    height: auto;
    display: block;
  }

  .serviceContainer {
    border: .2px solid grey;
    height: auto;
    width: 100%;
  }

  .trainingHub {
    border: .2px solid burlywood;
    height: auto;
  }

  .productContainer {
    border: .2px solid blue;
    height: 42vh;
    display:block;
  }

  .servtitle {
    text-align: center;
    color: white;
    display: block;
    font-size: 18px;
  }

  .serviceHolder {
    border: .2px solid white;
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
    width: auto;
  }
  .n2roConf{
    border: .2px solid grey;
    display:block;
  }
}

/* --------------------------------------[Mobile] */




/* --------------------------------------[General] */
.navbar {
  border: .2px solid lightseagreen;
  /* height:14vh; */
  display: flex;
  justify-content: space-between;
}

.midRange {
  /* border: solid purple; */
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  align-items: center;
}

.cartContainer {
  /* border:solid white; */
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart {
  height: 25px;
  align-items: center;
}

.iconNav {
  height: 70px;
}

.smedia {
  height: 20px;
  border: .2px solid white;
  border-radius: 50%;
}

.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

.n2roTitle {
  font-size: 18px;
  margin: 1em;
}

.n2roMajor {
  font-size: 55px;
  text-align: center;
  color: white;
}

.ntab {
  font-size: 12px;
  color: white;
}

.servIcon {
  height: 45px;
  width: 45px;
}

.n2ro {
  font-size: 12px;
  margin-top: 2em;
  color: white;
  text-align: right;
}

.n2ro {
  font-size: 12px;
  margin-top: 2em;
  color: white;
  text-align: right;
}

.wallp {
  width: 100%;
  height: 42vh;
  background-size: cover;
  background-image: url('https://media1.tenor.com/m/TfvGPFbvDnkAAAAd/blue-kiss.gif');
}

.scene {
  width: 60%;
}
.serviceHolder:hover{
  color:peru;
}
.mainVideoScreen{
  border:solid lemonchiffon;
  background-image: url('https://gifdb.com/images/high/thunder-sky-background-pnzfm34jem8gj555.gif');
  background-size:fill;
  margin:1em;
  height:32vh;
}
.btnContainer{
  border:solid lemonchiffon;
  height:43px;
  margin:1em;
  display:flex;
  justify-content: space-around;

padding:1em;
}
.symbol{
  border:solid white;
  height:35px;
  border-radius:50%;
}
.seven{
  font-size:85px;
  width:50%;
}
.asideContainer{
  /* border:solid red; */
  text-align:center;
  display:flex;
  opacity:.4;
}
.superiorContainer{
  /* border: solid peru; */
  color:white;
  height:auto;
}
.productGridMaster{
  border: .2px solid white;
  margin:1em;
  height:44vh;
/* background-color:black; */
}
.productCard{
  border:solid lightseagreen;
  margin:1em;
  height:45%;
  /* background-color:black; */

}
.productContainer{
  background-image:url('https://media.istockphoto.com/id/1308415052/vector/wild-style-graffiti-seamless-pattern.jpg?s=612x612&w=0&k=20&c=j3ea7vMkFGejRRiChGvC8KdPzX-P9bqqHJY-1rp6WHk=');
}
.nput{
  margin:1em;

}
.crk{
  position:fixed;
  width:500px;
  align-items: right;
}
.n2Span{
  color:lime;
}
.mantra{
  text-align: center;
  color:white;
  opacity:.3;
}
.n2roPara{
  padding:1em;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.spacer{
  height:70px;
}
.n2coin{
  width:40px;
}


.nzo{
  opacity:.3;
}
/*  */
.ticket-button {
  display: inline-block;
  background: lightseagreen;
  color: white;
  border: 2px dashed white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.ticket-button::before,
.ticket-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.ticket-button:hover {
  transform: scale(1.05);
}

.ticket-button.ripped {
  animation: rip-off 0.8s forwards;
}

input{
  margin:1em;
  width:auto;
  border-radius:6px;
  border:.2px solid lightseagreen;
  color:peru;
  font-family: 'Courier New', Courier, monospace;
  padding:6px;
  font-size:15px;
}

.incredibleContainer{
  border:solid white;
  height:auto;
  margin:1em;
}
.wutang{
border:solid yellow;
display:flex;
justify-content: space-evenly;
font-size:16px;
}
.beatMachine{
  border:.2px solid salmon;
  height:44vh;
  display:flex;
  justify-content: space-between;

}
.leftSection{
  border:.2px solid blue;
  width:25%;
  margin:10px;
  
}
.midSection{
  /* border: .2px solid red; */
  width:45%;
}
.rightSection{
  border: .2px solid peru;
  width:25%;
  margin:10px;
}
.turntable{
  border:.2px solid white;
  height:22vh;
  display:flex;
  justify-content: space-around;
}
.quincy,.katrynada{
  border:.2px solid grey;
  width:120px;
  height:120px;
  border-radius:50%;
}
.djAssist{
  width:100%;
}
.djTitle{
  text-align:center;
}
.topBeat{
  border: .2px solid white;
  height:22px;
  text-align:center;
  color:lightblue;
}